<!-- Bolsas da USP -->
<div class = "bolsas" id = "usp">
	<h2> USP </h2>
	<% for(var i = 0; i < bolsas_usp.length; ++i) { %>
		<hr style = "border-color: #888888">
		<div class = "post">
			<h3> <%- bolsas_usp[i].titulo %> </h3>
			<p> <%- bolsas_usp[i].desc %> </p>
			<%if(bolsas_usp[i].bullets.length > 0) {%>
				<br>
				<lu>
					<% for(var j = 0; j < bolsas_usp[i].bullets.length; ++j) {%>
						<li> <%- bolsas_usp[i].bullets[j] %> </li>
					<%}%>
				</lu>
			<%}%>
			<br><br>
			<i style="font-size: 12pt"> Mais informações: <a href="google.com"> <%-bolsas_usp[i].link%> </a> </i> <br>
			<i style="font-size: 12pt"> Última atualização: <%-bolsas_usp[i].atualizado%>  </i>
		</div>
	<%}%>
	<br>
</div>