<html>
	<head>
		<%-include bootstrap.ejs %> <!-- inclui o bootstrap -->
		<script src="js/slider.js"></script>
		<script type = "text/javascript">
			var sliderCaaso, sliderFederal, sliderVideos, sliderAtleticaaso;
			
			$(function() {
		    	sliderCaaso = new slider("slides_sociocaaso", Math.floor((<%=sociocaaso.length%> + 2)/3));
				sliderCaaso.showSlides();

		    	sliderFederal = new slider("slides_sociofederal", Math.floor((<%=sociofederal.length%> + 2)/3));
				sliderFederal.showSlides(); 

				sliderAtleticaaso = new slider("slides_socioatleticaaso", Math.floor((<%=socioatleticaaso.length%> + 2)/3));
				sliderAtleticaaso.showSlides();

			});
		</script>

		<style type="text/css">
			body {
				background-color: #DDDDDD;
				text-align: justify;
			}
			.img-cartaopostal {
				/*border: solid 1px black;*/
			}
			#img-logo {
				max-width: 100%; 
				height: auto;
				margin: 15px;
			}
			.content{
			    position: relative;
			    width: 98%;
			    height: 98%;

			    margin-left: auto;
			    margin-right: auto;
			    margin-top: auto;
			    margin-bottom: auto;
			}

			div.leftArrow{
			    position: absolute;
			    left: 0px;
			    float: left;
			}

			div.rightArrow{
			    position: absolute;
			    right: 0px;
			    float: right;
			}
		</style>
		<title> Associações </title>
	</head>
	<body>
		<%-include navbar.ejs%>
		<div id="img" style = "width: 100%;">
			<img src="barra.jpg" style = "max-width: 100%; height: auto;" class = "img-cartaopostal">
		</div>

		<!-- Sessao de icones -->
		<div class = "container">
			<br>
			<div class="row">
				<div class = "col-md-4">
					<center>
						<a href="#sociocaaso"><img src="Caaso.png" style = "max-width: 33%; height: auto; margin: 20px" class = "img-logo"></a>
					</center>
					<br>
					<h3 style="text-align: center"> Sócio Caaso </h3>
				</div>
				<div class = "col-md-4">
					<center> 
						<a href = "#sociofederal"><img src="federal.png" style = "max-width: 33%; height: auto; margin: 20px" class = "img-logo"></a>
					</center>
					<br>
					<h3 style="text-align: center"> Sócio Federal </h3>
				</div>
				<div class = "col-md-4">
					<center> 
						<a href="#restaurantes"><img src="atleticaaso.png" style = "max-width: 33%; height: auto; margin: 20px" class = "img-logo"></a>
					</center>
					<br>
					<h3 style="text-align: center"> Sócio Atlética Caaso </h3>
				</div>
			</div>	
		</div>
		<br>

		<!-- Sessao do socio caaso -->
		<div class = "container-fluid" id = "sociocaaso">
			<h2 style = "margin-left: 50px"> Sócio Caaso </h2>
			<div>
				<h3 style="margin-left: 100px; margin-right: 100px">Descrição</h3>
				<div class = "col-md-offset-1 col-md-4">
					<p>
						O Sócio Caaso é uma ótima maneira de conseguir descontos em festas, estabelecimentos, produtos e ainda poder fazer uso do Salão de Jogos e da BiblioteCAASO. É uma associação anual e pode ser adquirida por alunos e ex-alunos do CAASO.
					</p>
				</div>
				<div class = "col-md-offset-1 col-md-4">
					<p>
						Os preços são variáveis:<br>
						Graduação: R$40,00<br>
						Alojamento: R$20,00<br>
						Pós Graduação: R$45,00<br>
						Ex-Alunos: R$60,00
					</p>
				</div>
			</div>
		</div>
		<div class="container-fluid" style="background: #FFFFFF; width:100%; margin-top: 20px">
			<div class="slides_sociocaaso" style = "width: 100%"> 
				<% for(var i = 0; i < sociocaaso.length; ++i) {%>
					<% if(i > 0 && i%3 == 0) {%> 
						</div>
						<div class="slides_sociocaaso" style = "width: 100%;"> 
					<%}%>
					<div class = "col-md-4">
						<div class = "col-md-6">
							<img src = "<%= sociocaaso[i].img %>" style="width: 70%; height: auto">
						</div>
						<div class = "col-md-6" style="text-align: center">
							<h4><%= sociocaaso[i].nome %></h4>
							<p><%= sociocaaso[i].desc %></p>
						</div>
					</div>
				<%}%>
			</div>
			<div class = "leftArrow" style="display: inline-block;">
			  	<a onclick="sliderCaaso.plusSlides(-1)">
				    <img name="left arrow"
				    	src="leftarrow.png"
				     	alt="leftArrow"
				     	vertical-align= "center"
				     	style = "width: 50px; height: auto; display: inline-block;">
			  	</a>
			</div>

			<div class = "rightArrow">
				<a onclick="sliderCaaso.plusSlides(1)">
					<img name="right arrow"
						src="rightarrow.png"
						alt="rightArrow"
						align="middle"
						style = "width: 50px; height: auto">
				</a>
			</div>
		</div>
		<br>
		<br>

		<!-- Sessao do socio federal -->
		<div class = "container-fluid" id = "sociofederal">
			<h2 style = "margin-left: 50px"> Sócio Federal </h2>
			<div>
				<h3 style="margin-left: 100px; margin-right: 100px">Descrição</h3>
				<div class = "col-md-offset-1 col-md-4">
					<p>
						Sócio Federal é o programa de fidelidade do UFSCar. Aqui você terá acesso às vantagens que só o Sócio Federal te proporciona!
					</p>
				</div>
				<div class = "col-md-offset-1 col-md-4">
					<p>
						Os preços são variáveis:<br>
						Graduação: R$40,00<br>
						Alojamento: R$20,00<br>
						Pós Graduação: R$45,00<br>
						Ex-Alunos: R$60,00
					</p>
				</div>
			</div>
		</div>
		<div class="container-fluid" style="background: #FFFFFF; width:100%; margin-top: 20px">
			<div class="slides_sociofederal" style = "width: 100% background-color: #FFFFFF;"> 
				<% for(var i = 0; i < sociofederal.length; ++i) {%>
					<% if(i > 0 && i%3 == 0) {%> 
						</div>
						<div class="slides_sociofederal" style = "width: 100%; background-color: #FFFFFF"> 
					<%}%>
					<div class = "col-md-4">
						<div class = "col-md-6">
							<img src = "<%= sociofederal[i].img %>" style="width: 70%; height: auto">
						</div>
						<div class = "col-md-6" style="text-align: center">
							<h4><%= sociofederal[i].nome %></h4>
							<p><%= sociofederal[i].desc %></p>
						</div>
					</div>
				<%}%>
			</div>
			<div class = "leftArrow" style="display: inline-block;">
			  	<a onclick="sliderFederal.plusSlides(-1)">
				    <img name="left arrow"
				    	src="leftarrow.png"
				     	alt="leftArrow"
				     	vertical-align= "center"
				     	style = "width: 50px; height: auto; display: inline-block;">
			  	</a>
			</div>

			<div class = "rightArrow">
				<a onclick="sliderFederal.plusSlides(1)">
					<img name="right arrow"
						src="rightarrow.png"
						alt="rightArrow"
						align="middle"
						style = "width: 50px; height: auto">
				</a>
			</div>
		</div>
		<br>
		<br>

		<!-- Sessao do socio atletica caaso -->
		<div class = "container-fluid" id = "socioatleticaaso">
			<h2 style = "margin-left: 50px"> Sócio Atlética Caaso </h2>
			<div>
				<h3 style="margin-left: 100px; margin-right: 100px">Descrição</h3>
				<div class = "col-md-offset-1 col-md-4">
					<p>
						Sócio Atlética Caaso é uma ótima opção para quem é fã de vestir o amarelo para torcer pelos times do Caaso. A anuidade dá direito a vantagens e descontos em produtos e festas organizados pela Atlética Caaso, além de benefícios com os estabelecimentos parceiros. 
					</p>
				</div>
				<div class = "col-md-offset-1 col-md-4">
					<p>
						Novos sócios: R$30,00 <br>
						Renovação: R$25,00
					</p>
				</div>
			</div>
		</div>
		<div class="container-fluid" style="background: #FFFFFF; width:100%; margin-top: 20px">
			<div class="slides_sociofederal" style = "width: 100% background-color: #FFFFFF;"> 
				<% for(var i = 0; i < socioatleticaaso.length; ++i) {%>
					<% if(i > 0 && i%3 == 0) {%> 
						</div>
						<div class="slides_socioatleticaaso" style = "width: 100%; background-color: #FFFFFF"> 
					<%}%>
					<div class = "col-md-4">
						<div class = "col-md-6">
							<img src = "<%= socioatleticaaso[i].img %>" style="width: 70%; height: auto">
						</div>
						<div class = "col-md-6" style="text-align: center">
							<h4><%= socioatleticaaso[i].nome %></h4>
							<p><%= socioatleticaaso[i].desc %></p>
						</div>
					</div>
				<%}%>
			</div>
			<div class = "leftArrow" style="display: inline-block;">
			  	<a onclick="sliderAtleticaaso.plusSlides(-1)">
				    <img name="left arrow"
				    	src="leftarrow.png"
				     	alt="leftArrow"
				     	vertical-align= "center"
				     	style = "width: 50px; height: auto; display: inline-block;">
			  	</a>
			</div>

			<div class = "rightArrow">
				<a onclick="sliderAtleticaaso.plusSlides(1)">
					<img name="right arrow"
						src="rightarrow.png"
						alt="rightArrow"
						align="middle"
						style = "width: 50px; height: auto">
				</a>
			</div>
		</div>
 

		<%- include footer.ejs %>
	</body>
</html>

