<html>
	<head>
		<%-include bootstrap.ejs %> <!-- inclui o bootstrap -->
		<script type = "text/javascript" src = "js/auxilio.js" > </script>
		<style type="text/css">
			body {
				background-color: #DDDDDD;
				text-align: justify;
			}

			.img-cartaopostal {

				/*border: solid 1px black;*/
			}

			#img-logo {
				max-width: 100%; 
				height: auto;
				margin: 15px;
			}

			.post {
				width: 100%;
				text-align: justify;
				font-size: 15pt;
			}

		</style>
		<title> Bolsas Auxílio </title>
	</head>
	<body>
			<%-include navbar.ejs%>
			<div id="img" style = "width: 100%;">
				<img src="barra.jpg" style = "max-width: 100%; height: auto;" class = "img-cartaopostal">
			</div>
			<!-- Sessao de icones -->
			<div style = "background-color: #EEEEEE; border-bottom: solid #888888 1px">
				<div class = "container-fluid">
					<br>
					<div class="row">
						<div class = "col-md-1 col-sm-1""></div>	
						<div class = "col-md-2 col-sm-2">	
							<center>
								<a style = "cursor: pointer" onclick="changeSelection('usp')"><img src="uspmenor.png" style = "max-width: 50%; height: auto; margin: 20px" class = "img-logo"></a>
							</center>
							
							<h3 style="text-align: center"> USP </h3>
						</div>
						<div class = "col-md-2 col-sm-2">
							<center> 
								<a style = "cursor: pointer" onclick="changeSelection('ufscar')"><img src="ufscarmenor.png" style = "max-width: 50%; height: auto; margin: 20px" class = "img-logo"></a>
							</center>
							
							<h3 style="text-align: center"> UFSCAR </h3>
						</div>

							<div class = "col-md-2 col-sm-2">
							<center>
								<a style = "cursor: pointer" onclick="changeSelection('ifsp')"><img src="ifsp.png" style = "max-width: 50%; height: auto; margin: 20px" class = "img-logo"></a>
							</center>
							
							<h3 style="text-align: center"> IFSP </h3>
						</div>

						<div class = "col-md-2 col-sm-2">
							<center>
								<a style = "cursor: pointer" onclick="changeSelection('ic')"><img src="ic.png" style = "max-width: 50%; height: auto; margin: 20px" class = "img-logo"></a>
							</center>
							
							<h3 style="text-align: center"> INICIAÇÃO CIENTÍFICA </h3>
						</div>
						
						<div class = "col-md-2 col-sm-2">
							<center>
								<a style = "cursor: pointer" onclick="changeSelection('intercambio')"><img src="mundo.png" style = "max-width: 50%; height: auto; margin: 20px" class = "img-logo"></a>
							</center>
							
							<h3 style="text-align: center"> INTERCÂMBIO </h3>
						</div>
						<div class = "col-md-1 col-sm-1"></div>
					</div>	
				</div>
			</div>
			<br>

			
			<div class = "container">
				<!-- Bolsas da USP -->
				<div class = "bolsas" id = "usp">
					<h2> USP </h2>
					<% for(var i = 0; i < bolsas_usp.length; ++i) { %>
						<hr style = "border-color: #888888">
						<div class = "post">
							<h3> <%- bolsas_usp[i].titulo %> </h3>
							<p> <%- bolsas_usp[i].desc %> </p>
							<%if(bolsas_usp[i].bullets.length > 0) {%>
								<br>
								<lu>
									<% for(var j = 0; j < bolsas_usp[i].bullets.length; ++j) {%>
										<li> <%- bolsas_usp[i].bullets[j] %> </li>
									<%}%>
								</lu>
							<%}%>
							<br><br>
							<i style="font-size: 12pt"> Mais informações: <a href="google.com"> <%-bolsas_usp[i].link%> </a> </i> <br>
							<i style="font-size: 12pt"> Última atualização: <%-bolsas_usp[i].atualizado%>  </i>
						</div>
					<%}%>
					<br>
				</div>
				

				<!-- Bolsas da UFSCAR -->
				<div class = "bolsas" id = "ufscar">
					<h2> UFSCAR </h2>
					<% for(var i = 0; i < bolsas_ufscar.length; ++i) { %>
						<hr style = "border-color: #888888">
						<div class = "post">
							<h3> <%- bolsas_ufscar[i].titulo %> </h3>
							<p> <%- bolsas_ufscar[i].desc %> </p>
							<%if(bolsas_ufscar[i].bullets.length > 0) {%>
								<br>
								<lu>
									<% for(var j = 0; j < bolsas_ufscar[i].bullets.length; ++j) {%>
										<li> <%- bolsas_ufscar[i].bullets[j] %> </li>
									<%}%>
								</lu>
							<%}%>
							<br><br>
							<i style="font-size: 12pt"> Mais informações: <a href="google.com"> <%-bolsas_ufscar[i].link%> </a> </i> <br>
							<i style="font-size: 12pt"> Última atualização: <%-bolsas_ufscar[i].atualizado%>  </i>
						</div>
					<%}%>
					<br>
				</div>
				

				<!-- Bolsas do IFSP -->
				<div class = "bolsas" id = "ifsp">
					<h2> IFSP </h2>
					<% for(var i = 0; i < bolsas_ifsp.length; ++i) { %>
						<hr style = "border-color: #888888">
						<div class = "post">
							<h3> <%- bolsas_ifsp[i].titulo %> </h3>
							<p> <%- bolsas_ifsp[i].desc %> </p>
							<%if(bolsas_ifsp[i].bullets.length > 0) {%>
								<br>
								<lu>
									<% for(var j = 0; j < bolsas_ifsp[i].bullets.length; ++j) {%>
										<li> <%- bolsas_ifsp[i].bullets[j] %> </li>
									<%}%>
								</lu>
							<%}%>
							<br><br>
							<i style="font-size: 12pt"> Mais informações: <a href="google.com"> <%-bolsas_ifsp[i].link%> </a> </i> <br>
							<i style="font-size: 12pt"> Última atualização: <%-bolsas_ifsp[i].atualizado%>  </i>
						</div>
					<%}%>
					<br>
				</div>
				

				<!-- Bolsas de IC -->
				<div class = "bolsas" id = "ic">
					<h2> Iniciação Científica </h2>
					<% for(var i = 0; i < bolsas_ic.length; ++i) { %>
						<hr style = "border-color: #888888">
						<div class = "post">
							<h3> <%- bolsas_ic[i].titulo %> </h3>
							<p> <%- bolsas_ic[i].desc %> </p>
							<%if(bolsas_ic[i].bullets.length > 0) {%>
								<br>
								<lu>
									<% for(var j = 0; j < bolsas_ic[i].bullets.length; ++j) {%>
										<li> <%- bolsas_ic[i].bullets[j] %> </li>
									<%}%>
								</lu>
							<%}%>
							<br><br>
							<i style="font-size: 12pt"> Mais informações: <a href="google.com"> <%-bolsas_ic[i].link%> </a> </i> <br>
							<i style="font-size: 12pt"> Última atualização: <%-bolsas_ic[i].atualizado%>  </i>
						</div>
					<%}%>
					<br>
				</div>
				

				<!-- Bolsas de intercambio -->
				<div class = "bolsas" id = "intercambio">
					<h2> INTERCAMBIO </h2>
					<% for(var i = 0; i < bolsas_intercambio.length; ++i) { %>
						<hr style = "border-color: #888888">
						<div class = "post">
							<h3> <%- bolsas_intercambio[i].titulo %> </h3>
							<p> <%- bolsas_intercambio[i].desc %> </p>
							<%if(bolsas_intercambio[i].bullets.length > 0) {%>
								<br>
								<lu>
									<% for(var j = 0; j < bolsas_intercambio[i].bullets.length; ++j) {%>
										<li> <%- bolsas_intercambio[i].bullets[j] %> </li>
									<%}%>
								</lu>
							<%}%>
							<br><br>
							<i style="font-size: 12pt"> Mais informações: <a href="google.com"> <%-bolsas_intercambio[i].link%> </a> </i> <br>
							<i style="font-size: 12pt"> Última atualização: <%-bolsas_intercambio[i].atualizado%>  </i>
						</div>
					<%}%>
					<br>
				</div>
				
			</div>

			<%- include footer.ejs %>
	</body>
</html>