<html>
	<head>
		<%-include bootstrap.ejs %> <!-- inclui o bootstrap -->
		<style type="text/css" src = "css/fonte.css"> </style>
		<style type="text/css">
			html, body {
				height: 100%;
			}

			body {
				background-color: #DDDDDD;
				text-align: justify;
				display: flex;
				flex-direction: column;
				font-family: "Gill Sans", sans-serif;
			}

			.content {
				flex: 1 0 auto;
			}

			.footer {
				flex-shrink: 0;
			}

			.img-logo {
				max-width: 60%; 
				height: auto;
				margin: 15px;
			}

			.post {
				width: 100%;
				text-align: justify;
				font-size: 15pt;
			}

		</style>
		<title> Bolsas Auxílio </title>
	</head>
	<body>
		<div class = "content">
			<%-include navbar.ejs%>
			<div id="img" style = "width: 100%;">
				<img src="barra.jpg" style = "max-width: 100%; height: auto;">
			</div>
			<!-- Sessao de icones -->
			<div style = "background-color: #EEEEEE; border-bottom: solid #888888 1px">
				<div class = "container-fluid">
					<br>
					<div class="row">
						<div class = "col-md-1 col-sm-1""></div>	
						<div class = "col-md-2 col-sm-2">	
							<center>
								<a href = "bolsasauxilio_usp"><img src="uspmenor.png" class = "img-logo"></a>
							</center>
							
							<h3 style="text-align: center"> USP </h3>
						</div>
						<div class = "col-md-2 col-sm-2">
							<center> 
								<a href = "bolsasauxilio_ufscar"><img src="ufscarmenor.png" class = "img-logo"></a>
							</center>
							
							<h3 style="text-align: center"> UFSCAR </h3>
						</div>

							<div class = "col-md-2 col-sm-2">
							<center>
								<a href = "bolsasauxilio_ifsp"><img src="ifsp.png" class = "img-logo"></a>
							</center>
							
							<h3 style="text-align: center"> IFSP </h3>
						</div>

						<div class = "col-md-2 col-sm-2">
							<center>
								<a href = "bolsasauxilio_ic" ><img src="ic.png" class = "img-logo"></a>
							</center>
							
							<h3 style="text-align: center"> INICIAÇÃO CIENTÍFICA </h3>
						</div>
						
						<div class = "col-md-2 col-sm-2">
							<center>
								<a href = "bolsasauxilio_intercambio"><img src="mundo.png" class = "img-logo"></a>
							</center>
							
							<h3 style="text-align: center"> INTERCÂMBIO </h3>
						</div>
						<div class = "col-md-1 col-sm-1"></div>
					</div>	
				</div>
			</div>
			<br>

			
			<div class = "container">
				<%if(aba == "usp") {%> 
					<%- include auxilio/usp.ejs %>
				<%}%>
				<%if(aba == "ufscar") {%> 
					<%- include auxilio/ufscar.ejs %>
				<%}%>
				<%if(aba == "ifsp") {%> 
					<%- include auxilio/ifsp.ejs %>
				<%}%>
				<%if(aba == "ic") {%> 
					<%- include auxilio/ic.ejs %>
				<%}%>
				<%if(aba == "intercambio") {%> 
					<%- include auxilio/intercambio.ejs %>
				<%}%>
				
			</div>
		</div>
		<%- include footer.ejs %>
	</body>
</html>