<html>
	<head>
		<%-include bootstrap.ejs %> <!-- inclui o bootstrap -->
		<style type="text/css">
			body {
				background-color: #DDDDDD;
				text-align: justify;
			}

			.img-cartaopostal {

				/*border: solid 1px black;*/
			}

			#img-logo {
				max-width: 100%; 
				height: auto;
				margin: 15px;
			}
		</style>
		<title> BOLSAS AUXÍLIO </title>
	</head>
	<body>
			<%-include navbar.ejs%>
			<div id="img" style = "width: 100%;">
				<img src="barra.jpg" style = "max-width: 100%; height: auto;" class = "img-cartaopostal">
			</div>
			<!-- Sessao de icones -->
			<div class = "container">
				<br>
				<div class="row">
					<div class = "col-md-1"></div>	
					<div class = "col-md-2">	
						<center>
							<a href="#usp"><img src="uspmenor.png" style = "max-width: 50%; height: auto; margin: 20px" class = "img-logo"></a>
						</center>
						
						<h3 style="text-align: center"> USP </h3>
					</div>
					<div class = "col-md-2">
						<center> 
							<a href = "#ufscar"><img src="ufscarmenor.png" style = "max-width: 50%; height: auto; margin: 20px" class = "img-logo"></a>
						</center>
						
						<h3 style="text-align: center"> UFSCAR </h3>
					</div>

						<div class = "col-md-2">
						<center>
							<a href="#ifsp"><img src="ifsp.png" style = "max-width: 50%; height: auto; margin: 20px" class = "img-logo"></a>
						</center>
						
						<h3 style="text-align: center"> IFSP </h3>
					</div>

					<div class = "col-md-2">
						<center>
							<a href="#ic"><img src="ic.png" style = "max-width: 50%; height: auto; margin: 20px" class = "img-logo"></a>
						</center>
						
						<h3 style="text-align: center"> INICIAÇÃO CIENTÍFICA </h3>
					</div>
					
					<div class = "col-md-2">
						<center>
							<a href="#intercambio"><img src="mundo.png" style = "max-width: 50%; height: auto; margin: 20px" class = "img-logo"></a>
						</center>
						
						<h3 style="text-align: center"> INTERCÂMBIO </h3>
					</div>
					<div class = "col-md-1"></div>
				</div>	
			</div>
			<br>

			<!-- Sessao da usp -->
			<div id = "usp" class = "container-fluid" style="background: #DDDDDD">
				<div class="row" >
					<h3 style = "margin-left: 600px"> USP </h3>
					<div class = "col-md-6">

						<%-include descricao_usp.ejs %>
						
					</div>
					<div class = "col-md-6">

						<%-include descricao_usp2.ejs %>
						
					</div>

				</div>
				<br>
			</div>
			<!-- Sessao da ufscar -->
			<div id="ufscar" class = "container-fluid" style="background: #DDDDDD; width:100%">
				<br>
				<h3 style = "margin-left: 550px"> UFSCAR </h3>
				<div class="row" >
					<div class = "col-md-6">
						<%-include descricao_usfcar.ejs %>
						
					</div>
					<div class = "col-md-6">

						<%-include descricao_usfcar2.ejs %>
						
					</div>


					</br>
					</div>
   				</div>
   				<br>
  			</div>

  					<!-- Sessao do ifsp -->
			<div id="ifsp" class = "container-fluid" style="background: #DDDDDD; width:100%">
				<br>
				<h3 style = "margin-left: 550px"> IFSP </h3>
				<div class="row" >
					<div class = "col-md-6">
						<%-include descricao_ifsp.ejs %>
						
					</div>
					<div class = "col-md-6">

						<%-include descricao_ifsp2.ejs %>
						
					</div>


					</br>
					</div>
   				</div>
   				<br>
  			</div>

  			<!-- Sessao da ic -->
			<div id = "ic" class = "container-fluid" style="background: #DDDDDD">
				<div class="row" >
					<h3 style = "margin-left: 500px"> INICIAÇÃO CIENTÍFICA </h3>
					<div class = "col-md-6">

						<%-include descricao_ic.ejs %>
						
					</div>
					<div class = "col-md-6">

						<%-include descricao_ic2.ejs %>
						
					</div>

				</div>
				<br>
			</div>

					<!-- Sessao da intercambio -->
			<div id = "intercambio" class = "container-fluid" style="background: #DDDDDD">
				<div class="row" >
					<h3 style = "margin-left: 500px"> INTERCÂMBIO </h3>
					<div class = "col-md-6">

						<%-include descricao_intercambio.ejs %>
						
					</div>
					<div class = "col-md-6">

						<%-include descricao_intercambio2.ejs %>
						
					</div>
				</div>
				<br>
			</div>


			<%- include footer.ejs %>
<!-- 		</
		</div> -->
	</body>
</html>